In [131]:
import numpy as np
import pandas as pd

In [132]:
iris_data=pd.read_csv(r"Iris.csv")
iris_data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [133]:
#seperate features and target variable
x=iris_data.drop(["Id","Species"],axis=1)
y=iris_data["Species"]

In [134]:
#create train and test sets
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=56)

# gaussian navie bayes

In [135]:
from sklearn.naive_bayes import GaussianNB
naive_bayes = GaussianNB()

In [136]:
#train the model and do predictions
naive_bayes.fit(x_train, y_train)
predictions = naive_bayes.predict(x_test)

In [137]:
#calculate accuracy
from sklearn.metrics import accuracy_score
accuracy_score(y_test,predictions)

0.9333333333333333

# Multinomial navie Bayes

In [138]:
tweets_data=pd.read_csv(r"tweets.csv")
tweets_data.head()

   id  label                                              tweet
0   1      0  #fingerprint #Pregnancy Test https://goo.gl/h1...
1   2      0  Finally a transparant silicon case ^^ Thanks t...
2   3      0  We love this! Would you go? #talk #makememorie...
3   4      0  I'm wired I know I'm George I was made that wa...
4   5      1  What amazing service! Apple won't even talk to...

In [139]:
# create train and test sets
x = tweets_data['tweet']
y = tweets_data['label']

In [140]:
#create train and test sets
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

# Create bag of words

In [141]:
from sklearn.feature_extraction.text import CountVectorizer
count_vector = CountVectorizer(stop_words = 'english')

In [142]:
# Fit the training data
training_data = count_vector.fit_transform(x_train)
# Transform testing data
testing_data = count_vector.transform(x_test)

# implemention multinomial Navie bayes

In [143]:
from sklearn.naive_bayes import MultinomialNB
naive_bayes = MultinomialNB()

In [144]:
#train and predictions
naive_bayes.fit(training_data,y_train)
predictions = naive_bayes.predict(testing_data)

In [145]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, predictions)

0.899770466717674

In [146]:
tweets_data=pd.read_csv(r"tweets.csv")
tweets_data.head()

   id  label                                              tweet
0   1      0  #fingerprint #Pregnancy Test https://goo.gl/h1...
1   2      0  Finally a transparant silicon case ^^ Thanks t...
2   3      0  We love this! Would you go? #talk #makememorie...
3   4      0  I'm wired I know I'm George I was made that wa...
4   5      1  What amazing service! Apple won't even talk to...

In [147]:
x=tweets_data["tweet"]
y=tweets_data["label"]

In [148]:
#create train and test sets
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

In [149]:
from sklearn.feature_extraction.text import CountVectorizer

In [150]:
# Generating Binary Features using countvectorizer
count_vector = CountVectorizer(stop_words = 'english', binary=True)

In [151]:
# Fit the training data 
training_data = count_vector.fit_transform(x_train)

# Transform testing data
testing_data = count_vector.transform(x_test)

# Bernoulli  naviBayes

In [152]:
from sklearn.naive_bayes import BernoulliNB
naive_bayes = BernoulliNB()

In [153]:
naive_bayes.fit(training_data, y_train)
predictions = naive_bayes.predict(testing_data)

In [154]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, predictions)

0.882938026013772